<style>
  body {
    font-family: "Lato", sans-serif;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }

  #main {
    transition: margin-left .5s;


  }
  #main p{
    background-color: white;
    color: rgb(146, 137, 137);

  }
  #main small{
    font-style: underline;
  }
  #main ul li{
    list-style: none;
    display: inline-flex;
    margin-left: 200px;
  }


  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  </style>


<nav>
    <a class="navbar-brand" href="#" style="color: white;">#StopWarInUkraine <i class="fa fa-flag" aria-hidden="true"></i> Save the children</a>
  


  <div class="top-nav" id="top-nav">
    <a href="javascript:void(0)" class="closebtn" onclick = "closeNav"()>x</a>
    <a href="#">English</a>
    <a href="#">Chinese</a>
    <a href="#">Japanese</a>
    <a href="#">French</a>
    <a href="#">Espagnol</a>
    <a href="#">Korean</a>

  </div>

<div id="main">
    <ul>
        <li id="listone">
          <p class="openbtn" onclick="openNav()"> <small> English</small></p>
        </li>
        <li>The awards of design innovation and creativity on the internet</li>
        <li><i class="fa fa-instagram" aria-hidden="true"></i><i class="fa fa-twitter" aria-hidden="true"></i> <i class="fa fa-facebook" aria-hidden="true"></i>></i></li>
    </ul>
</nav>


<br>

<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div id="mySidebarnav" class="sidebarnav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNavbar()"> close ×</a>
    <a href="#">Register/Login</a>
    <a href="#">Home</a>
    <a href="#">Winners</a>
    <a href="#">Nominees</a>
    <a href="#">Collections</a>
    <a href="#">Academy</a>
    <a href="#">Proffesional Directory</a>
    <a href="#">Jobs & Talent</a>
  </div>
</div>


  <div id="menu">
    <ul>
      <li id="listone">
        <p class="openbtn" onclick="openNavbar()"><small>☰ Menu </small></p>
      </li>
      <li><div class="input-group">
        <div class="form-outline">
          <form action=" {%url 'search_results' %} ">
            <input type="search" id="form1" class="form-control" name="post" placeholder="search" />
          </form>
        </div>

      </div></li>
      <li>Awwwards</li>
      {% if user.is_authenticated %}
      <li><a href="/logout">Logout</a> </li>
      <li> <a href="#">{{user.username}} </a></li>
      {% else %}
      <li> <button> <a href="/login">Register/Login</a> </button></li>
      {% endif %}
      <li> <button>Submit Your Site</button></li>

    </ul>



  </div>
  </nav>




    
</div>

<script>
  function openNav(){
    document.getElementById("top-nav").style.width = "250px";
    document.geyElementById("main").style.marginleft = "250pc";
  }

  function closeNav(){
    document.getElementById("top-nav").style.width = 0;
    document.getElementById("main").style.marginleft = 0;
</script>